{% load sorl_thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block context %}
<article class="product_pod">
    <div class="image_container">
        {% with image=category.primary_image %}
            {% thumbnail image.original "x155" upscale=False as thumb %}
                <a href="{{ category.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ category.name }}" class="thumbnail"></a>
            {% endthumbnail %}
        {% endwith %}
    </div>
    <h3><a href="{{ product.get_absolute_url }}" title="{{ category.get_title }}">{{ category.name|truncatewords:4 }}</a></h3>
</article>
{% endblock %}