{% load i18n %}
{% load category_tags %}
{% load category_render_tags %}
{% load product_tags %}
{% load product_list_tags %}

<section class="well well-blank" id="categorySection">
    <div class="sub-header">
        <h3>Categories</h3>
    </div>
    <ul class="row">
        {% category_tree depth=2 as tree_categories %}
        {% for category,info in tree_categories %}
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{% render_category category category.get_absolute_image_url %}</li>
        {% endfor %}
    </ul>
    <ul class="row">
{#    Product lists go here#}
        {% category_tree depth=2 as tree_categories %}
        {% for category,info in tree_categories %}
            <div class="category_detail">{% product_list category %}</div>
        {% endfor %}
    </ul>
</section>