{% load i18n %}
{% load product_tags %}
{% load product_list_tags %}
{% load static %}

{% block content %}
    {% for product in products %}
        {% render_product product %}
    {% endfor %}
{#<div class="col-lg-3 col-md-6">#}
{#    <div class="single-product">#}
{#        <img class="img-fluid" src="{% static "img/product/p1.jpg" %}" alt="">#}
{#        <div class="product-details">#}
{#            <h6>addidas New Hammer sole for Sports person</h6>#}
{#            <div class="price">#}
{#                <h6>$150.00</h6>#}
{#                <h6 class="l-through">$210.00</h6>#}
{#            </div>#}
{#            <div class="prd-bottom">#}
{#                <a href="" class="social-info">#}
{#                    <span class="ti-bag"></span>#}
{#                    <p class="hover-text">add to bag</p>#}
{#                </a>#}
{#                <a href="" class="social-info">#}
{#                    <span class="lnr lnr-heart"></span>#}
{#                    <p class="hover-text">Wishlist</p>#}
{#                </a>#}
{#                <a href="" class="social-info">#}
{#                    <span class="lnr lnr-sync"></span>#}
{#                    <p class="hover-text">compare</p>#}
{#                </a>#}
{#                <a href="" class="social-info">#}
{#                    <span class="lnr lnr-move"></span>#}
{#                    <p class="hover-text">view more</p>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}