{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load static %}

{% block title %}
    {{ product.get_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ product.get_title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{% static "img/category/s-p1.jpg" %}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>Faded SkyBlu Denim Jeans</h3>
						<h2>
                            {% purchase_info_for_product request product as session %}

                            {% if session.price.exists %}
                                <p>Price (excl. tax): {{ session.price.excl_tax|currency:session.price.currency }}</p>
{#                            <tr>#}
{#                                <th>Price (excl. tax)</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>#}
{#                            </tr>#}
{#                            {% if session.price.is_tax_known %}#}
{#                                <tr>#}
{#                                    <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>#}
{#                                </tr>#}
{#                            {% endif %}#}
{#                            <tr>#}
{#                                <th>{% trans "Availability" %}</th>#}
{#                                <td>{{ session.availability.message }}</td>#}
{#                            </tr>#}
                        {% endif %}
                        </h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : Household</a></li>
							<li><a href="#"><span>Availibility</span>{{ session.availability.message }}</a></li>
						</ul>
                          {% if product.description %}
                              <div id="product_description" class="sub-header">
{#                              <h2>{% trans "Product Description" %}</h2>#}
                              </div>
                              <p>{{ product.description|safe }}</p>
                          {% endif %}
{#						<p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for#}
{#							something that can make your interior look awesome, and at the same time give you the pleasant warm feeling#}
{#							during the winter.</p>#}
						<div class="product_count">
							<label for="qty">Quantity:</label>
							<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
						</div>
						<div class="card_area d-flex align-items-center">
							<a class="primary-btn" href="#">Add to Cart</a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Specification</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
					 aria-selected="false">Comments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Reviews</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					    {% block product_description %}
                        {% if product.description %}
                            <div id="product_description" class="sub-header">
                            <h2>{% trans "Product Description" %}</h2>
                            </div>
                            <p>{{ product.description|safe }}</p>
                        {% endif %}
                        {% endblock %}
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h5>Width</h5>
									</td>
									<td>
										<h5>128mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Height</h5>
									</td>
									<td>
										<h5>508mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Depth</h5>
									</td>
									<td>
										<h5>85mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Weight</h5>
									</td>
									<td>
										<h5>52gm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Quality checking</h5>
									</td>
									<td>
										<h5>yes</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Freshness Duration</h5>
									</td>
									<td>
										<h5>03days</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>When packeting</h5>
									</td>
									<td>
										<h5>Without touch of hand</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Each Box contains</h5>
									</td>
									<td>
										<h5>60pcs</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
{#				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">#}
{#					<div class="row">#}
{#						<div class="col-lg-6">#}
{#							<div class="comment_list">#}
{#								<div class="review_item">#}
{#									<div class="media">#}
{#										<div class="d-flex">#}
{#											<img src="img/product/review-1.png" alt="">#}
{#										</div>#}
{#										<div class="media-body">#}
{#											<h4>Blake Ruiz</h4>#}
{#											<h5>12th Feb, 2018 at 05:56 pm</h5>#}
{#											<a class="reply_btn" href="#">Reply</a>#}
{#										</div>#}
{#									</div>#}
{#									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#										commodo</p>#}
{#								</div>#}
{#								<div class="review_item reply">#}
{#									<div class="media">#}
{#										<div class="d-flex">#}
{#											<img src="img/product/review-2.png" alt="">#}
{#										</div>#}
{#										<div class="media-body">#}
{#											<h4>Blake Ruiz</h4>#}
{#											<h5>12th Feb, 2018 at 05:56 pm</h5>#}
{#											<a class="reply_btn" href="#">Reply</a>#}
{#										</div>#}
{#									</div>#}
{#									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#										commodo</p>#}
{#								</div>#}
{#								<div class="review_item">#}
{#									<div class="media">#}
{#										<div class="d-flex">#}
{#											<img src="img/product/review-3.png" alt="">#}
{#										</div>#}
{#										<div class="media-body">#}
{#											<h4>Blake Ruiz</h4>#}
{#											<h5>12th Feb, 2018 at 05:56 pm</h5>#}
{#											<a class="reply_btn" href="#">Reply</a>#}
{#										</div>#}
{#									</div>#}
{#									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#										commodo</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div class="col-lg-6">#}
{#							<div class="review_box">#}
{#								<h4>Post a comment</h4>#}
{#								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address">#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12 text-right">#}
{#										<button type="submit" value="submit" class="btn primary-btn">Submit Now</button>#}
{#									</div>#}
{#								</form>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">#}
{#					<div class="row">#}
{#						<div class="col-lg-6">#}
{#							<div class="row total_rate">#}
{#								<div class="col-6">#}
{#									<div class="box_total">#}
{#										<h5>Overall</h5>#}
{#										<h4>4.0</h4>#}
{#										<h6>(03 Reviews)</h6>#}
{#									</div>#}
{#								</div>#}
{#								<div class="col-6">#}
{#									<div class="rating_list">#}
{#										<h3>Based on 3 Reviews</h3>#}
{#										<ul class="list">#}
{#											<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
{#													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#											<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
{#													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#											<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
{#													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#											<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
{#													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#											<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
{#													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#										</ul>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#							<div class="review_list">#}
{#								<div class="review_item">#}
{#									<div class="media">#}
{#										<div class="d-flex">#}
{#											<img src="img/product/review-1.png" alt="">#}
{#										</div>#}
{#										<div class="media-body">#}
{#											<h4>Blake Ruiz</h4>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#										</div>#}
{#									</div>#}
{#									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#										commodo</p>#}
{#								</div>#}
{#								<div class="review_item">#}
{#									<div class="media">#}
{#										<div class="d-flex">#}
{#											<img src="img/product/review-2.png" alt="">#}
{#										</div>#}
{#										<div class="media-body">#}
{#											<h4>Blake Ruiz</h4>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#										</div>#}
{#									</div>#}
{#									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#										commodo</p>#}
{#								</div>#}
{#								<div class="review_item">#}
{#									<div class="media">#}
{#										<div class="d-flex">#}
{#											<img src="img/product/review-3.png" alt="">#}
{#										</div>#}
{#										<div class="media-body">#}
{#											<h4>Blake Ruiz</h4>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#											<i class="fa fa-star"></i>#}
{#										</div>#}
{#									</div>#}
{#									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#										commodo</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div class="col-lg-6">#}
{#							<div class="review_box">#}
{#								<h4>Add a Review</h4>#}
{#								<p>Your Rating:</p>#}
{#								<ul class="list">#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#								</ul>#}
{#								<p>Outstanding</p>#}
{#								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12 text-right">#}
{#										<button type="submit" value="submit" class="primary-btn">Submit Now</button>#}
{#									</div>#}
{#								</form>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
			</div>
		</div>
	</section>

{#<article class="product_page"><!-- Start of product page -->#}
{##}
{#    <div class="row">#}
{##}
{#        {% block product_gallery %}#}
{#        <div class="col-sm-6">#}
{#            {% include "catalogue/partials/gallery.html" %}#}
{#        </div>#}
{#        {% endblock %}#}
{##}
{#        {% block product_main %}#}
{#        <div class="col-sm-6 product_main">#}
{#            {% comment %}#}
{#            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that#}
{#            pops out when clicked.  A bit like the Django-Debug-Toolbar button#}
{#            {% endcomment %}#}
{#            {% if user.is_staff %}#}
{#                <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>#}
{#            {% endif %}#}
{#            <h1>{{ product.get_title }}</h1>#}
{##}
{#            {% block product_stock_record %}#}
{#                {% include "catalogue/partials/stock_record.html" with verbose=1 %}#}
{#            {% endblock %}#}
{##}
{#            {% iffeature "reviews" %}#}
{#                {% include "catalogue/reviews/partials/review_stars.html" %}#}
{#            {% endiffeature %}#}
{##}
{#            <hr/>#}
{##}
{#            {% if not product.is_parent %}#}
{#                {% block product_basket_form %}#}
{#                    {% include "catalogue/partials/add_to_basket_form.html" %}#}
{#                {% endblock %}#}
{#            {% else %}#}
{#                {% block variants %}#}
{#                    <h2>{% trans 'Variants:' %}</h2>#}
{#                    {% for child in product.children.all %}#}
{#                        {% purchase_info_for_product request child as child_session %}#}
{#                        {% if child_session.availability.is_available_to_buy %}#}
{#                            <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endblock %}#}
{#            {% endif %}#}
{#        </div><!-- /col-sm-6 -->#}
{#        {% endblock %}#}
{##}
{#    </div><!-- /row -->#}
{##}

{##}
{#    {% block product_info %}#}
{#    <div class="sub-header">#}
{#        <h2>{% trans "Product Information" %}</h2>#}
{#    </div>#}
{#    <table class="table table-striped">#}
{#        {% if product.upc %}#}
{#        <tr>#}
{#            <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>#}
{#        </tr>#}
{#        {% endif %}#}
{#        <tr>#}
{#            <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>#}
{#        </tr>#}
{##}

{#        {% for av in product.attribute_values.all %}#}
{#            <tr>#}
{#                <th>{{ av.attribute.name }}</th>#}
{#                <td>{{ av.value_as_html }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        {% iffeature "reviews" %}#}
{#            <tr>#}
{#                <th>{% trans "Number of reviews" %}</th>#}
{#                <td>{{ product.num_approved_reviews }}</td>#}
{#            </tr>#}
{#        {% endiffeature %}#}
{#    </table>#}
{#    {% endblock %}#}
{##}
{#    {% iffeature "reviews" %}#}
{#        {% block product_review %}#}
{#        <section>#}
{#            <div id="reviews" class="sub-header">#}
{#                {% if product.num_approved_reviews > 3 %}#}
{#                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>#}
{#                {% endif %}#}
{#                <h2>{% trans "Customer Reviews" %}</h2>#}
{#            </div>#}
{##}
{#            {% if product.num_approved_reviews == 0 %}#}
{#                <p>#}
{#                    {% if product|is_review_permitted:user %}#}
{#                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}#}
{#                            {% blocktrans %}This product does not have any reviews yet -#}
{#                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.#}
{#                        {% endblocktrans %}#}
{#                    {% else %}#}
{#                        {% trans "This product does not have any reviews yet" %}.#}
{#                    {% endif %}#}
{#                </p>#}
{#            {% else %}#}
{#                <ol class="list-unstyled review-list">#}
{#                    {% for review in product.reviews.approved.all|slice:":3" %}#}
{#                        <li>#}
{#                        {% include 'catalogue/partials/review.html' %}#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ol>#}
{#            {% endif %}#}
{#        </section>#}
{#        {% endblock product_review %}#}
{#    {% endiffeature %}#}
{##}
{#    {% with recommended_products=product.sorted_recommended_products|slice:":6" %}#}
{#        {% if recommended_products %}#}
{#            <div class="sub-header">#}
{#                <h2>{% trans "Recommended items" %}</h2>#}
{#            </div>#}
{#            <ul class="row">#}
{#                {% for product in recommended_products %}#}
{#                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">#}
{#                    {% render_product product %}#}
{#                </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    {% endwith %}#}
{##}
{#    {% recently_viewed_products current_product=product %}#}
{##}
{#</article><!-- End of product page -->#}
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}